body {
  background-color: #f9f9f9;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
@media (min-width: 768px) {
  .mobile-menu-toggle {
    display: none;
  }
}
@media (max-width: 767px) {
  .gi-logo {
    padding: 10px 0;
    margin: auto;
  }
  .gi-logo img {
    width: 200px;
  }
}
.mobile-menu-toggle {
  position: fixed;
  left: 0;
  top: 5px;
  z-index: 2;
  -webkit-transition: all 0.4s ease;
          transition: all 0.4s ease;
}
.mobile-menu-toggle.is-active {
  -webkit-transform: translateX(900%);
      -ms-transform: translateX(900%);
          transform: translateX(900%);
}
@media (max-width: 600px) {
  .mobile-menu-toggle.is-active {
    -webkit-transform: translateX(890%);
        -ms-transform: translateX(890%);
            transform: translateX(890%);
  }
}
@media (max-width: 450px) {
  .mobile-menu-toggle.is-active {
    -webkit-transform: translateX(580%);
        -ms-transform: translateX(580%);
            transform: translateX(580%);
  }
}
@media (max-width: 375px) {
  .mobile-menu-toggle.is-active {
    -webkit-transform: translateX(500%);
        -ms-transform: translateX(500%);
            transform: translateX(500%);
  }
}
@media (max-width: 320px) {
  .mobile-menu-toggle.is-active {
    -webkit-transform: translateX(430%);
        -ms-transform: translateX(430%);
            transform: translateX(430%);
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
header.sticky {
  background-color: white;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
}
.text-primary {
  color: #00a9ee !important;
}
.font-weight-medium {
  font-weight: 600;
}
.bg-white {
  background-color: #fff;
}
.border-gray {
  border-color: #ccc;
}
.grayscale {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.grayscale.w-hover-color:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.bg-primary {
  background-color: #00a9ee !important;
}
.bg-gray {
  background-color: #ececec !important;
}
.border-primary {
  border-color: #00a9ee !important;
}
.border-5 {
  border-width: 5px !important;
}
.border-4 {
  border-width: 4px !important;
}
.border-3 {
  border-width: 3px !important;
}
.border-2 {
  border-width: 2px !important;
}
.border-1 {
  border-width: 1px !important;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.95rem;
  color: #5f5f5f;
}
h1.section-title {
  font-size: 1.4rem;
}
label {
  font-weight: 700;
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
  color: #737373;
}
label.medium {
  font-weight: 600;
}
label.normal {
  font-weight: 500;
}
.form-check-label {
  font-weight: 500;
}
a {
  color: #00a9ee;
}
a:hover {
  color: #0085bb;
}
.parsley-errors-list {
  list-style-type: none;
  padding: 0;
}
.parsley-errors-list li {
  color: #e40000;
  font-size: 0.8rem;
}
.text-small {
  font-size: 85%;
}
.text-large {
  font-size: 1.3rem;
  line-height: 22px;
}
.nav-tabs--vertical {
  border-bottom: none;
  border-right: 1px solid #dddddd;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
.nav-tabs--left .nav-link {
  -webkit-transition: border-color 0.125s ease-in;
          transition: border-color 0.125s ease-in;
  white-space: nowrap;
  background-color: #00a9ee;
  color: #fff;
  border-radius: 0;
  border: 1px solid #c4c4c4;
  font-weight: 600;
  font-size: 1em;
  padding: 0.75rem 1.2rem;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.nav-tabs--left .nav-link:hover {
  background-color: #f7f7f7;
  border-color: transparent;
  color: #00a9ee;
}
.nav-tabs--left .nav-link.active {
  border-bottom-color: #dddddd;
  border-right-color: #fff;
  border-bottom-left-radius: .25rem;
  border-top-right-radius: 0;
  margin-right: -1px;
  background-color: #fff;
  color: #00a9ee;
}
.tab-content {
  width: 100%;
}
.form-control {
  font-size: 0.85rem;
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding-left: 0;
  background-color: transparent;
}
.form-control:focus {
  box-shadow: none;
  border-color: #00a9ee;
  background-color: transparent;
}
select.form-control:not([size]):not([multiple]) {
  height: calc(2.0rem + 1px);
}
.form-group {
  margin-bottom: 1.5rem;
}
fieldset {
  border: 1px solid #b7b7b7;
  padding: 10px 20px;
  margin-bottom: 15px;
}
fieldset legend {
  display: inline-block;
  width: auto;
  font-size: 1rem;
  color: #464646;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before,
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #00a9ee;
  border-color: #00a9ee;
}
.custom-checkbox .custom-control-label::before {
  border-radius: 0;
}
.custom-control-label::before {
  top: .1rem;
  width: 1.2rem;
  height: 1.2rem;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #b7b7b7;
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
.custom-control-label::after {
  top: .1rem;
  width: 1.2rem;
  height: 1.2rem;
  background-size: 60% 60%;
  -webkit-transition: all 0.3s ease-in;
          transition: all 0.3s ease-in;
}
.custom-control-inline {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
label.required:after {
  content: "*";
  color: #e40000;
  margin-left: 5px;
}
#invitations .scrollable {
  display: block;
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #dddddd;
  padding: 15px 15px 0;
}
#invitations .scrollable:empty {
  display: none;
}
.select2-single + .select2-container {
  width: 100% !important;
  display: block;
  font-size: 0.85rem;
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding-left: 0;
  background-color: transparent;
}
.select2-single + .select2-container .select2-selection--single {
  background-color: transparent;
  border-radius: 0;
  outline: 0;
  border: none;
  height: 33px;
  border-bottom: 1px solid #cecada;
}
.select2-single + .select2-container .select2-selection--single:focus {
  outline: 0;
}
.select2-single + .select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 33px;
}
.select2-container .select2-search__field {
  position: relative;
}
.select2-container .select2-search__field:before {
  content: "Q";
  position: absolute;
  top: 0;
  left: 0;
}
.select2-container .select2-search {
  position: relative;
}
.select2-container .select2-search:before {
  content: "\f002";
  font-family: 'FontAwesome';
  position: absolute;
  top: 9px;
  left: 9px;
  z-index: 1;
}
.select2-container .select2-search .select2-search__field {
  padding-left: 24px;
}
.modal-open .mm-slideout {
  z-index: initial;
}
.btn {
  font-size: 0.8rem;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05rem;
  position: relative;
}
.btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
      transform: scale(1.2, 1.2);
}
.btn:hover::after {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
      transform: scale(1, 1);
}
.btn-group-sm > .btn,
.btn-sm {
  font-size: 0.7rem;
}
.btn-primary {
  background-color: #00a9ee;
  border-color: #00a9ee;
}
.btn-primary:hover {
  background-color: #0085bb;
  border-color: #0085bb;
}
.btn-primary:focus,
.btn-primary:active {
  background-color: #007eb1;
}
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(48, 169, 238, 0.5);
}
.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: #0085bb;
  border-color: #0085bb;
  box-shadow: 0 0 0 0.2rem rgba(48, 169, 238, 0.5);
}
.btn-outline-primary {
  color: #00a9ee;
  background-color: transparent;
  border-color: #00a9ee;
}
.btn-outline-primary:hover {
  background-color: #00a9ee;
  border-color: #00a9ee;
}
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(48, 169, 238, 0.5);
}
.btn-outline-primary:active {
  background-color: #00a9ee;
  color: #fff;
}
.btn-outline-primary:not([disabled]):not(.disabled).active,
.btn-outline-primary:not([disabled]):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  background-color: #00a9ee;
  color: #fff;
  border-color: #00a9ee;
  box-shadow: 0 0 0 0.2rem rgba(48, 169, 238, 0.5);
}
.btn-link {
  color: #00a9ee;
}
.table-striped-bg thead tr {
  background: url(../img/striped_diag.png);
}
.table thead th {
  font-size: 0.8rem;
}
.table thead th:before,
.table thead th:after {
  font-size: 1.2rem;
  bottom: 0.5em !important;
}
.table td,
.table th {
  padding: .75rem 0.5rem;
}
.table-no-padding td {
  padding: 0;
}
.table-responsive > .dataTables_wrapper > .row {
  width: 100%;
}
.dataTables_length label {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.breadcrumb {
  background-color: transparent;
  padding: 0;
}
.breadcrumb-item {
  font-weight: 600;
}
.breadcrumb-item + .breadcrumb-item::before {
  font-family: FontAwesome;
  content: "\f0da";
  color: #d0d0d0;
}
.progress-indicator {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 0;
}
.progress-indicator:before {
  content: "";
  border-top: 1px solid #dddddd;
  position: absolute;
  width: 100%;
  display: block;
  left: 0;
  bottom: 10px;
}
.progress-indicator li {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  padding: 0 .625rem 1.75rem;
  list-style: none;
  color: #dddddd;
  text-align: center;
  font-weight: 700;
}
.progress-indicator li a {
  display: block;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  color: #9d9d9d;
}
.progress-indicator li a:hover {
  text-decoration: none;
}
.progress-indicator li .bubble:after {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  bottom: .125rem;
  left: 50%;
  width: 1.2rem;
  height: 1.2rem;
  margin-left: -0.46875rem;
  background: #dddddd;
  border-radius: 50%;
}
.progress-indicator li.active a {
  color: #00a9ee;
}
.progress-indicator li.active .bubble:after {
  background-color: #00a9ee;
}
.progress-indicator li.completed .bubble:after {
  background-color: #00a9ee;
}
@media (max-width: 767px) {
  .progress-indicator_scroller {
    overflow-x: auto;
  }
  .progress-indicator_scroller::-webkit-scrollbar {
    display: none;
  }
  .progress-indicator_scroller > div {
    min-width: 600px;
  }
}
.gi-collapse .card {
  border: none;
}
.gi-collapse .card-header {
  background-color: #00a9ee;
  padding: 5px 15px;
  border-radius: 0;
}
.gi-collapse .card-header a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.gi-collapse .card-header a .fa-plus-square-o,
.gi-collapse .card-header a .fa-plus {
  display: none;
}
.gi-collapse .card-header a.collapsed .fa-plus-square-o,
.gi-collapse .card-header a.collapsed .fa-plus {
  display: inline-block;
}
.gi-collapse .card-header a.collapsed .fa-minus-square-o,
.gi-collapse .card-header a.collapsed .fa-minus {
  display: none;
}
.gi-collapse .card-header a:hover {
  text-decoration: none;
}
@media (max-width: 767px) {
  #giMenu {
    display: none !important;
  }
}
@media (min-width: 768px) {
  #mm-giMenu {
    display: none !important;
  }
}
#giMenu .navbar-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
#giMenu .navbar-menu ul {
  padding: 0;
}
#giMenu .navbar-menu .submenu {
  display: none;
  min-width: 170px;
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
  border-top: 2px solid #00a9ee;
  position: absolute;
  top: 40px;
  right: 0;
  list-style-type: none;
  background-color: #fff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
#giMenu .navbar-menu .submenu li {
  border-bottom: 1px solid #dddddd;
}
#giMenu .navbar-menu .submenu li:last-child {
  border-bottom: 0;
}
#giMenu .navbar-menu .submenu a {
  display: block;
  font-size: 0.8rem;
  white-space: nowrap;
  color: #777777;
}
#giMenu .navbar-menu .has-submenu {
  position: relative;
}
#giMenu .navbar-menu .has-submenu:hover > a {
  color: #00a9ee;
}
#giMenu .navbar-menu .has-submenu:hover .submenu {
  display: block;
  -webkit-animation: fadeInUp 0.3s ease-out 1;
          animation: fadeInUp 0.3s ease-out 1;
}
#giMenu .navbar-menu .has-submenu:hover .submenu a:hover {
  color: #00a9ee;
}
#giMenu .navbar-menu .has-submenu:hover .submenu:before {
  bottom: 100%;
  right: 15%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #00a9ee;
  border-width: 7px;
}
#giMenu .navbar-menu .has-submenu:hover .user-submenu:before {
  right: 9%;
}
#giMenu .navbar-menu .user-submenu {
  padding: 5px 15px;
  margin-top: 20px;
  min-width: 250px;
}
#giMenu .navbar-menu .user-submenu a {
  padding: 5px 0 0;
  color: #00a9ee;
  font-weight: normal;
}
#giMenu .navbar-menu .user-submenu li {
  padding: 5px 0 10px;
}
#giMenu .navbar-menu .user-submenu b {
  font-size: 0.75rem;
}
#giMenu .navbar-menu .user-submenu p {
  margin-bottom: 0;
  font-size: 0.85rem;
}
#giMenu .navbar-menu > li {
  padding: 10px 0;
}
#giMenu .navbar-menu > li a {
  padding: 8px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
#giMenu .navbar-menu > li a:hover {
  color: #00a9ee;
  text-decoration: none;
}
#giMenu .navbar-menu .admin-dd-btn > a {
  background-color: #00a9ee;
  padding: 8px 20px;
  border-radius: 3px;
  font-size: 0.75rem;
}
#giMenu .navbar-menu .admin-dd-btn > a:hover {
  color: #fff;
  background-color: #0085bb;
}
#giMenu .navbar-menu .admin-dd-btn:hover > a {
  background-color: #0085bb;
  color: #fff;
}
#giMenu .navbar-menu.dark > li a {
  color: #444444;
}
#giMenu .navbar-menu.dark > li a:hover {
  color: #00a9ee;
  text-decoration: none;
}
#giMenu .navbar-menu.dark .admin-dd-btn > a {
  color: #fff;
}
#giMenu .navbar-menu.dark .admin-dd-btn > a:hover {
  color: #fff;
  background-color: #0085bb;
}
#giMenu .navbar-menu.dark .admin-dd-btn:hover > a {
  background-color: #0085bb;
  color: #fff;
}
#mm-giMenu .admin-dd-btn {
  background-color: #00a9ee;
}
#mm-giMenu .admin-dd-btn a {
  color: #fff;
  font-weight: 600;
}
.user-submenu {
  padding: 5px 15px;
  margin-top: 20px;
  min-width: 250px;
}
.user-submenu a {
  padding: 5px 0 0;
  color: #00a9ee;
  font-weight: normal;
}
.user-submenu li {
  padding: 5px 0 10px;
}
.user-submenu b {
  font-size: 0.75rem;
}
.user-submenu p {
  margin-bottom: 0;
  font-size: 0.85rem;
}
.mm-wrapper_opened header {
  -webkit-transform: translateY(-99.99999999px);
      -ms-transform: translateY(-99.99999999px);
          transform: translateY(-99.99999999px);
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.alert-primary {
  background-color: #e4f7ff;
}
.badge-danger {
  background-color: rgba(228, 0, 0, 0.8);
}
.pagination {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.page-link {
  color: #00a9ee;
}
.page-link:focus,
.page-link:hover {
  color: #0085bb;
}
.page-item.active .page-link {
  background-color: #00a9ee;
  border-color: #00a9ee;
}
/* single proposal */
ul.statistics li {
  padding: 5px 0;
}
ul.statistics li:not(:last-of-type) {
  border-bottom: 1px solid #dddddd;
}
ul.statistics li:first-of-type {
  padding-top: 0;
}
ul.statistics li:last-of-type {
  padding-bottom: 0;
}
.tag {
  padding: .2rem .4rem;
  font-size: 87.5%;
  color: #fff;
  border-radius: .2rem;
}
.proposal-info-card {
  margin-top: -140px;
}
@media (max-width: 767px) {
  .proposal-info-card {
    margin-top: -50px;
  }
}
.proposal-info-card .proposal-logo_holder {
  position: relative;
  width: 180px;
  height: 180px;
}
@media (max-width: 767px) {
  .proposal-info-card .proposal-logo_holder {
    display: block;
    margin: auto;
    margin-bottom: 15px;
  }
}
.proposal-info-card .proposal-logo_holder .proposal-logo {
  max-width: 180px;
  height: auto;
}
.proposal-info-card .proposal-logo_holder .due-diligence {
  position: absolute;
  top: -20px;
  left: -20px;
}
.proposal-info-card .proposal-logo_holder .due-diligence img {
  max-width: 80px;
  height: auto;
}
.proposal-info-card .proposal-info {
  color: #fff;
}
@media (max-width: 767px) {
  .proposal-info-card .proposal-info {
    color: inherit;
  }
}
/* other rounds tab */
.proposal_horizontal-card .proposal-logo {
  width: 60px;
  height: 60px;
}
.proposal_horizontal-card .proposal-logo img {
  max-width: 60px;
  height: auto;
}
.proposal_horizontal-card .proposal-details {
  border-right: 1px solid #dddddd;
}
@media (max-width: 767px) {
  .proposal_horizontal-card .proposal-details {
    border-right: none;
  }
}
.proposal_horizontal-card .proposal-details .additional-info [class*='col-']:not(:last-of-type) {
  border-right: 1px solid #dddddd;
}
@media (max-width: 767px) {
  .proposal_horizontal-card .proposal-details .additional-info [class*='col-']:not(:last-of-type) {
    border-right: none;
  }
}
.proposal_horizontal-card:not(:last-of-type) {
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .proposal_horizontal-card .media {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .proposal_horizontal-card .media .proposal-logo,
  .proposal_horizontal-card .media .media-body {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
}
@media (max-width: 767px) {
  .management-individual {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}
.management-individual .avatar {
  width: 150px;
  height: 150px;
}
@media (max-width: 767px) {
  .management-individual .avatar {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
}
.management-individual .avatar img {
  max-width: 150px;
  height: auto;
}
.modal-open .mm-slideout {
  z-index: initial;
}
.social-icons li a {
  width: 35px;
  height: 35px;
  border: 1px solid #fff;
  display: block;
  border-radius: 50%;
  line-height: 35px;
  text-align: CENTER;
  color: #fff;
}
@media (max-width: 767px) {
  .social-icons li a {
    color: #333;
    border-color: #333;
  }
}
.social-icons li a:hover {
  background-color: #5c5c5c;
}
@media (max-width: 767px) {
  .social-icons li a:hover {
    color: #fff;
  }
}
#management-team .carousel-indicators {
  display: none;
}
#management-team .carousel-control-prev,
#management-team .carousel-control-next {
  background-image: initial;
  opacity: 1;
}
@media screen and (max-width: 767px) {
  #management-team .carousel-control-prev,
  #management-team .carousel-control-next {
    opacity: 0.3;
  }
}
#management-team .carousel-control-prev .fa,
#management-team .carousel-control-next .fa {
  position: absolute;
  top: 50%;
  color: #00a9ee;
  z-index: 5;
  display: inline-block;
}
#management-team .carousel-control-prev {
  left: -12%;
}
@media screen and (max-width: 767px) {
  #management-team .carousel-control-prev {
    left: 0;
  }
}
#management-team .carousel-control-next {
  right: -12%;
}
@media screen and (max-width: 767px) {
  #management-team .carousel-control-next {
    right: 0;
  }
}
.investor-keypoints li {
  line-height: 24px;
}
.investor-keypoints li a {
  font-weight: 600;
}
.investor-keypoints li a:hover {
  text-decoration: none;
}
.investor-info .investor-avatar {
  height: 80px;
  width: 80px;
}
.investor-info .investor-avatar img {
  max-width: 80px;
  height: auto;
}
.message-board > .media:not(:last-of-type) {
  margin-bottom: 15px;
}
.message-board .media-avatar {
  height: 40px;
  width: 40px;
}
.message-board .media-avatar > img {
  max-width: 40px;
  height: auto;
}
.message-board a:hover {
  text-decoration: none;
}
.message-board a:focus {
  outline: 0;
}
ul.chromelike-tabs {
  line-height: 35px;
  max-height: 35px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  ul.chromelike-tabs {
    overflow: initial;
    display: block;
  }
}
ul.chromelike-tabs > li {
  float: left;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 5px -10px 0;
  border-top-right-radius: 25px 170px;
  border-top-left-radius: 20px 90px;
  height: 170px;
  background: #ddd;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
}
@media screen and (max-width: 480px) {
  ul.chromelike-tabs > li {
    width: 100% !important;
    height: auto;
    margin: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}
ul.chromelike-tabs > li.active {
  z-index: 2;
  background: #f9f9f9;
}
ul.chromelike-tabs > li.active a {
  color: #00a9ee;
  font-weight: 600;
}
ul.chromelike-tabs > li > a {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: #222;
  padding: 0 15px;
  white-space: nowrap;
}
@media screen and (max-width: 480px) {
  ul.chromelike-tabs > li > a {
    display: block;
  }
}
ul.chromelike-tabs > li:first-child {
  margin-left: 0;
}
ul.chromelike-tabs > li:last-child {
  margin-right: 0;
}
