body {
  background-color: #f9f9f9;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
@media (min-width: 768px) {
  .mobile-menu-toggle {
    display: none;
  }
}
@media (max-width: 767px) {
  .gi-logo {
    padding: 10px 0;
    margin: auto;
  }
  .gi-logo img {
    width: 200px;
  }
}
.mobile-menu-toggle {
  position: fixed;
  left: 0;
  top: 5px;
  z-index: 2;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.mobile-menu-toggle.is-active {
  -webkit-transform: translateX(900%);
          transform: translateX(900%);
}
@media (max-width: 600px) {
  .mobile-menu-toggle.is-active {
    -webkit-transform: translateX(890%);
            transform: translateX(890%);
  }
}
@media (max-width: 450px) {
  .mobile-menu-toggle.is-active {
    -webkit-transform: translateX(580%);
            transform: translateX(580%);
  }
}
@media (max-width: 375px) {
  .mobile-menu-toggle.is-active {
    -webkit-transform: translateX(500%);
            transform: translateX(500%);
  }
}
@media (max-width: 320px) {
  .mobile-menu-toggle.is-active {
    -webkit-transform: translateX(430%);
            transform: translateX(430%);
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
header.sticky {
  background-color: white;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
}
.text-primary {
  color: #00a9ee !important;
}
.text-secondary {
  color: #4162b3 !important;
}
.font-weight-medium {
  font-weight: 600;
}
.bg-white {
  background-color: #fff;
}
.border-gray {
  border-color: #ccc;
}
.grayscale {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.grayscale.w-hover-color:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.bg-primary {
  background-color: #00a9ee !important;
}
.bg-gray {
  background-color: #ececec !important;
}
.bg-lightgray {
  background: #f9f9f9;
}
.bg-image {
  background-size: cover;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
}
.bg-image.min-height-700 {
  min-height: 700px;
}
.border-primary {
  border-color: #00a9ee !important;
}
.border-5 {
  border-width: 5px !important;
}
.border-4 {
  border-width: 4px !important;
}
.border-3 {
  border-width: 3px !important;
}
.border-2 {
  border-width: 2px !important;
}
.border-1 {
  border-width: 1px !important;
}
.word-break {
  word-break: break-all;
}
.mh-150 {
  max-height: 150px;
  height: 150px;
}
.mw-150 {
  max-width: 150px;
  width: 150px;
}
.mw-80 {
  max-width: 80px;
}
.mh-80 {
  min-height: 80px;
}
.mw-60 {
  max-width: 60px;
  width: 60px;
}
.mh-60 {
  max-height: 60px;
  height: 60px;
}
.w-35 {
  width: 35px;
}
.h-35 {
  height: 35px;
}
.lh-35 {
  line-height: 35px;
}
.box-shadow-1 {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 767px) {
  .width-xs-100 {
    width: 100%;
  }
  .flex-basis-xs-100 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .mx-xs-0 {
    margin: auto 0;
  }
}
.col-xs-12 {
  width: 100%;
}
@media (min-width: 576px) {
  .border-sm-right {
    border-right: 1px solid #dee2e6 !important;
  }
  .text-sm-white {
    color: #fff;
  }
}
.text-decoration-none:hover {
  text-decoration: none;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.9rem;
  color: #5f5f5f;
}
h1.section-title {
  font-size: 1.4rem;
}
label {
  font-weight: 700;
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
  color: #737373;
}
label.medium {
  font-weight: 600;
}
label.normal {
  font-weight: 500;
}
.form-check-label {
  font-weight: 500;
}
a {
  color: #00a9ee;
}
a:hover {
  color: #0085bb;
}
.parsley-errors-list {
  list-style-type: none;
  padding: 0;
}
.parsley-errors-list li {
  color: #e40000;
  font-size: 0.8rem;
}
.text-small {
  font-size: 85%;
}
.text-large {
  font-size: 1.1rem;
  line-height: 22px;
}
.nav-tabs--vertical {
  border-bottom: none;
  border-right: 1px solid #dddddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
.nav-tabs--left .nav-link {
  -webkit-transition: border-color 0.125s ease-in;
  transition: border-color 0.125s ease-in;
  white-space: nowrap;
  background-color: #00a9ee;
  color: #fff;
  border-radius: 0;
  border: 1px solid #c4c4c4;
  font-weight: 600;
  font-size: 1em;
  padding: 0.75rem 1.2rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.nav-tabs--left .nav-link:hover {
  background-color: #f7f7f7;
  border-color: transparent;
  color: #00a9ee;
}
.nav-tabs--left .nav-link.active {
  border-bottom-color: #dddddd;
  border-right-color: #fff;
  border-bottom-left-radius: .25rem;
  border-top-right-radius: 0;
  margin-right: -1px;
  background-color: #fff;
  color: #00a9ee;
}
.tab-content {
  width: 100%;
}
.squareline-tabs .nav-tabs .nav-item {
  background: #eee;
}
.squareline-tabs .nav-tabs .nav-item:not(:last-child) {
  border-right: 1px solid #ccc;
}
@media (max-width: 767px) {
  .squareline-tabs .nav-tabs .nav-item:not(:last-child) {
    border-right: none;
  }
}
@media (max-width: 767px) {
  .squareline-tabs .nav-tabs .nav-item {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .squareline-tabs .nav-tabs .nav-item:last-child .nav-link {
    border-bottom: none;
  }
}
.squareline-tabs .nav-tabs .nav-item .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: #333;
  position: relative;
  text-align: center;
}
@media (max-width: 767px) {
  .squareline-tabs .nav-tabs .nav-item .nav-link {
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
}
.squareline-tabs .nav-tabs .nav-item .nav-link.active {
  display: block !important;
  color: #00a9ee;
  background: #fff;
}
@media (max-width: 767px) {
  .squareline-tabs .nav-tabs .nav-item .nav-link.active {
    border-bottom: none;
  }
}
.squareline-tabs .nav-tabs .nav-item .nav-link.active:after {
  width: 100%;
}
@media (max-width: 767px) {
  .squareline-tabs .nav-tabs .nav-item .nav-link.active:before {
    content: "\f0c9";
    font-family: 'FontAwesome';
    position: absolute;
    right: 15px;
  }
}
.squareline-tabs .nav-tabs .nav-item .nav-link:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 0;
  height: 3px;
  background-color: #00a9ee;
  margin: auto;
  content: '';
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}
.squareline-tabs .nav-tabs .nav-item .nav-link:hover:after {
  width: 100%;
}
.squareline-tabs .nav-tabs .nav-item .nav-link.coming-soon:before {
  position: absolute;
  left: 0;
  right: 0;
  top: -5px;
  margin: auto;
  content: '\f05e';
  font-family: FontAwesome;
  opacity: 0.1;
  color: #e40000;
  font-size: 32px;
}
.squareline-tabs.full-width .nav-tabs .nav-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media (max-width: 767px) {
  .squareline-tabs.full-width .nav-tabs .nav-item {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}
.form-control {
  font-size: 0.85rem;
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding-left: 0;
  background-color: transparent;
}
.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #00a9ee;
  background-color: transparent;
}
select.form-control:not([size]):not([multiple]) {
  height: calc(2.0rem + 1px);
}
.form-group {
  margin-bottom: 1.5rem;
}
fieldset {
  border: 1px solid #b7b7b7;
  padding: 10px 20px;
  margin-bottom: 15px;
}
fieldset legend {
  display: inline-block;
  width: auto;
  font-size: 1rem;
  color: #464646;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before,
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #00a9ee;
  border-color: #00a9ee;
}
.custom-checkbox .custom-control-input:disabled ~ .custom-control-label::before,
.custom-radio .custom-control-input:disabled ~ .custom-control-label::before {
  background-color: #dddddd;
  border-color: #dddddd;
}
.custom-checkbox .custom-control-label::before {
  border-radius: 0;
}
.custom-control-label::before {
  top: .1rem;
  width: 1.2rem;
  height: 1.2rem;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #b7b7b7;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.custom-control-label::after {
  top: .1rem;
  width: 1.2rem;
  height: 1.2rem;
  background-size: 60% 60%;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.custom-control-inline {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
label.required:after {
  content: "*";
  color: #e40000;
  margin-left: 5px;
}
#invitations .scrollable {
  display: block;
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #dddddd;
  padding: 15px 15px 0;
}
#invitations .scrollable:empty {
  display: none;
}
.select2-single + .select2-container {
  width: 100% !important;
  display: block;
  font-size: 0.85rem;
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding-left: 0;
  background-color: transparent;
}
.select2-single + .select2-container .select2-selection--single {
  background-color: transparent;
  border-radius: 0;
  outline: 0;
  border: none;
  height: 33px;
  border-bottom: 1px solid #cecada;
}
.select2-single + .select2-container .select2-selection--single:focus {
  outline: 0;
}
.select2-single + .select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 33px;
}
.select2-container .select2-search__field {
  position: relative;
}
.select2-container .select2-search__field:before {
  content: "Q";
  position: absolute;
  top: 0;
  left: 0;
}
.select2-container .select2-search {
  position: relative;
}
.select2-container .select2-search:before {
  content: "\f002";
  font-family: 'FontAwesome';
  position: absolute;
  top: 9px;
  left: 9px;
  z-index: 1;
}
.select2-container .select2-search .select2-search__field {
  padding-left: 24px;
}
.modal-open .mm-slideout {
  z-index: initial;
}
.btn {
  font-size: 0.75rem;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05rem;
  position: relative;
}
.btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
.btn:hover::after {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
.btn-group-sm > .btn,
.btn-sm {
  font-size: 0.7rem;
}
.btn-primary {
  background-color: #00a9ee;
  border-color: #00a9ee;
}
.btn-primary:hover {
  background-color: #0085bb;
  border-color: #0085bb;
}
.btn-primary:focus,
.btn-primary:active {
  background-color: #007eb1;
}
.btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(48, 169, 238, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(48, 169, 238, 0.5);
}
.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: #0085bb;
  border-color: #0085bb;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(48, 169, 238, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(48, 169, 238, 0.5);
}
.btn-outline-primary {
  color: #00a9ee;
  background-color: #fff;
  border-color: #00a9ee;
}
.btn-outline-primary:hover {
  background-color: #00a9ee;
  border-color: #00a9ee;
}
.btn-outline-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(48, 169, 238, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(48, 169, 238, 0.5);
}
.btn-outline-primary:active {
  background-color: #00a9ee;
  color: #fff;
}
.btn-outline-primary:not([disabled]):not(.disabled).active,
.btn-outline-primary:not([disabled]):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  background-color: #00a9ee;
  color: #fff;
  border-color: #00a9ee;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(48, 169, 238, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(48, 169, 238, 0.5);
}
.btn-link {
  color: #00a9ee;
}
.table-striped-bg thead tr {
  background: url(../img/striped_diag.png);
}
.table-solid-bg thead:first-of-type tr {
  background: #00a9ee;
  color: #fff;
}
.table-solid-bg thead:last-of-type tr.filters td {
  border-top: none;
  padding: 0.25rem 0.5rem;
  border-bottom: 1px solid #00a9ee;
}
.table-solid-bg thead:last-of-type tr.filters td .form-control {
  border-color: transparent;
}
.table-solid-bg thead tr.filters {
  background: #fff;
}
@media (min-width: 768px) {
  .table-solid-bg thead tr.filters .clear-input {
    opacity: 0;
  }
  .table-solid-bg thead tr.filters .input-group:hover .input-group-append .clear-input {
    opacity: 1;
  }
}
.table thead th {
  font-size: 0.8rem;
}
.table thead th:before,
.table thead th:after {
  font-size: 1.2rem;
  bottom: 0.5em !important;
}
.table td,
.table th {
  padding: .75rem 0.5rem;
}
.table td {
  border-top: 0;
  border-bottom: 1px solid #dddddd;
}
.table-no-padding td {
  padding: 0;
}
.table-responsive > .dataTables_wrapper > .row {
  width: 100%;
}
.dataTables_length label {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
div.dataTables_wrapper div.dataTables_info {
  white-space: normal;
}
.breadcrumb {
  background-color: transparent;
  padding: 0;
}
.breadcrumb-item {
  font-weight: 600;
}
.breadcrumb-item + .breadcrumb-item::before {
  font-family: FontAwesome;
  content: "\f0da";
  color: #d0d0d0;
}
.progress-indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 0;
}
.progress-indicator:before {
  content: "";
  border-top: 1px solid #dddddd;
  position: absolute;
  width: 100%;
  display: block;
  left: 0;
  bottom: 10px;
}
.progress-indicator li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  padding: 0 .625rem 1.75rem;
  list-style: none;
  color: #dddddd;
  text-align: center;
  font-weight: 700;
}
.progress-indicator li a {
  display: block;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  color: #9d9d9d;
}
.progress-indicator li a:hover {
  text-decoration: none;
}
.progress-indicator li .bubble:after {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  bottom: .125rem;
  left: 50%;
  width: 1.2rem;
  height: 1.2rem;
  margin-left: -0.46875rem;
  background: #dddddd;
  border-radius: 50%;
}
.progress-indicator li .bubble.completed:after {
  background: #00a9ee;
}
.progress-indicator li.active a {
  color: #00a9ee;
}
.progress-indicator li.completed .bubble:after {
  background-color: #00a9ee;
}
@media (max-width: 767px) {
  .progress-indicator_scroller {
    overflow-x: auto;
  }
  .progress-indicator_scroller::-webkit-scrollbar {
    display: none;
  }
  .progress-indicator_scroller > div {
    min-width: 600px;
  }
}
.gi-collapse .card {
  border: none;
}
.gi-collapse .card-header {
  background-color: #00a9ee;
  padding: 5px 15px;
  border-radius: 0;
}
.gi-collapse .card-header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.gi-collapse .card-header a .fa-plus-square-o,
.gi-collapse .card-header a .fa-plus {
  display: none;
}
.gi-collapse .card-header a.collapsed .fa-plus-square-o,
.gi-collapse .card-header a.collapsed .fa-plus {
  display: inline-block;
}
.gi-collapse .card-header a.collapsed .fa-minus-square-o,
.gi-collapse .card-header a.collapsed .fa-minus {
  display: none;
}
.gi-collapse .card-header a:hover {
  text-decoration: none;
}
.gi-collapse-2 .card-header {
  position: relative;
}
.gi-collapse-2 .card-header button:before {
  content: "\f054";
  font-family: FontAwesome;
  position: absolute;
  right: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
}
.gi-collapse-2 .card-header button.collapsed:before {
  content: "\f054";
  font-family: FontAwesome;
  position: absolute;
  right: 10px;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}
@media (max-width: 767px) {
  #giMenu {
    display: none !important;
  }
}
@media (min-width: 768px) {
  #mm-giMenu {
    display: none !important;
  }
}
#giMenu .navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
#giMenu .navbar-menu ul {
  padding: 0;
}
#giMenu .navbar-menu .submenu {
  display: none;
  min-width: 170px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-top: 2px solid #00a9ee;
  position: absolute;
  top: 40px;
  right: 0;
  list-style-type: none;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
#giMenu .navbar-menu .submenu li {
  border-bottom: 1px solid #dddddd;
}
#giMenu .navbar-menu .submenu li:last-child {
  border-bottom: 0;
}
#giMenu .navbar-menu .submenu a {
  display: block;
  font-size: 0.8rem;
  white-space: nowrap;
  color: #777777;
}
#giMenu .navbar-menu .has-submenu {
  position: relative;
}
#giMenu .navbar-menu .has-submenu:hover > a {
  color: #00a9ee;
}
#giMenu .navbar-menu .has-submenu:hover .submenu {
  display: block;
  -webkit-animation: fadeInUp 0.3s ease-out 1;
          animation: fadeInUp 0.3s ease-out 1;
}
#giMenu .navbar-menu .has-submenu:hover .submenu a:hover {
  color: #00a9ee;
}
#giMenu .navbar-menu .has-submenu:hover .submenu:before {
  bottom: 100%;
  right: 15%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #00a9ee;
  border-width: 7px;
}
#giMenu .navbar-menu .has-submenu:hover .user-submenu:before {
  right: 9%;
}
#giMenu .navbar-menu .user-submenu {
  padding: 5px 15px;
  margin-top: 20px;
  min-width: 250px;
}
#giMenu .navbar-menu .user-submenu a {
  padding: 5px 0 0;
  color: #00a9ee;
  font-weight: normal;
}
#giMenu .navbar-menu .user-submenu li {
  padding: 5px 0 10px;
}
#giMenu .navbar-menu .user-submenu b {
  font-size: 0.75rem;
}
#giMenu .navbar-menu .user-submenu p {
  margin-bottom: 0;
  font-size: 0.85rem;
}
#giMenu .navbar-menu > li {
  padding: 10px 0;
}
#giMenu .navbar-menu > li a {
  padding: 8px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#giMenu .navbar-menu > li a:hover {
  color: #00a9ee;
  text-decoration: none;
}
#giMenu .navbar-menu .admin-dd-btn > a {
  background-color: #00a9ee;
  padding: 8px 20px;
  border-radius: 3px;
  font-size: 0.75rem;
}
#giMenu .navbar-menu .admin-dd-btn > a:hover {
  color: #fff;
  background-color: #0085bb;
}
#giMenu .navbar-menu .admin-dd-btn:hover > a {
  background-color: #0085bb;
  color: #fff;
}
#giMenu .navbar-menu.dark > li a {
  color: #444444;
}
#giMenu .navbar-menu.dark > li a:hover {
  color: #00a9ee;
  text-decoration: none;
}
#giMenu .navbar-menu.dark .admin-dd-btn > a {
  color: #fff;
}
#giMenu .navbar-menu.dark .admin-dd-btn > a:hover {
  color: #fff;
  background-color: #0085bb;
}
#giMenu .navbar-menu.dark .admin-dd-btn:hover > a {
  background-color: #0085bb;
  color: #fff;
}
#mm-giMenu .admin-dd-btn {
  background-color: #00a9ee;
}
#mm-giMenu .admin-dd-btn a {
  color: #fff;
  font-weight: 600;
}
.user-submenu {
  padding: 5px 15px;
  margin-top: 20px;
  min-width: 250px;
}
.user-submenu a {
  padding: 5px 0 0;
  color: #00a9ee;
  font-weight: normal;
}
.user-submenu li {
  padding: 5px 0 10px;
}
.user-submenu b {
  font-size: 0.75rem;
}
.user-submenu p {
  margin-bottom: 0;
  font-size: 0.85rem;
}
.mm-wrapper_opened header {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.alert-primary {
  background-color: #e4f7ff;
}
.badge-danger {
  background-color: rgba(228, 0, 0, 0.8);
}
.pagination {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.page-link {
  color: #00a9ee;
}
.page-link:focus,
.page-link:hover {
  color: #0085bb;
}
.page-item.active .page-link {
  background-color: #00a9ee;
  border-color: #00a9ee;
}
.carousel-with-card {
  position: relative;
}
.carousel-with-card .carousel-indicators {
  display: none;
}
.carousel-with-card .carousel-control-prev,
.carousel-with-card .carousel-control-next {
  background-image: initial;
  opacity: 1;
}
@media screen and (max-width: 767px) {
  .carousel-with-card .carousel-control-prev,
  .carousel-with-card .carousel-control-next {
    opacity: 0.3;
  }
}
.carousel-with-card .carousel-control-prev .fa,
.carousel-with-card .carousel-control-next .fa {
  position: absolute;
  top: 50%;
  color: #00a9ee;
  z-index: 5;
  display: inline-block;
}
.carousel-with-card .carousel-control-prev {
  left: -12%;
}
@media screen and (max-width: 767px) {
  .carousel-with-card .carousel-control-prev {
    left: 0;
  }
}
.carousel-with-card .carousel-control-next {
  right: -12%;
}
@media screen and (max-width: 767px) {
  .carousel-with-card .carousel-control-next {
    right: 0;
  }
}
.social-icons li a {
  width: 35px;
  height: 35px;
  border: 1px solid #fff;
  display: block;
  border-radius: 50%;
  line-height: 35px;
  text-align: CENTER;
  color: #fff;
}
@media (max-width: 767px) {
  .social-icons li a {
    color: #5f5f5f;
    border-color: #5f5f5f;
  }
}
.social-icons li a:hover {
  background-color: #5f5f5f;
  color: #fff;
}
.social-icons.dark li a {
  border-color: #5f5f5f;
  color: #5f5f5f;
}
.social-icons.dark li a:hover {
  background: #5f5f5f;
  color: #fff;
}
