.squareline-tabs {
    .nav-tabs {
        .nav-link {
            border: 1px solid #ccc;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            color: #333;
            &.active {
                border-bottom: 2px solid @brand-primary;
                color: @brand-primary;
                // box-shadow: inset 0 -10px 5px -10px @brand-primary;
            }

        }
    }
    &.full-width {
        .nav-tabs {
            .nav-item {
                flex: 1;
            }
        }
    }
}