.gi-collapse{
	.card{
		border: none;
	}
	.card-header{
		background-color: @brand-primary;
		padding: 5px 15px;
		border-radius: 0;
		a{
			display: flex;
			color: #fff;
			font-weight: 600;
			font-size: 1rem;
			justify-content: space-between;
			align-items: center;
			.fa-plus-square-o,
			.fa-plus {
				display: none;
			}
			&.collapsed{
				.fa-plus-square-o,
				.fa-plus {
					display: inline-block;
				}
				.fa-minus-square-o,
				.fa-minus {
					display: none;
				}
			}
			&:hover{
				text-decoration: none;
			}
		}
	}
}

.gi-collapse-2 {
	.card-header {
		position: relative;
		button {
			color: #333;
			&:before {
				content: "\f105";
				font-family: FontAwesome;
				position: absolute;
				right: 10px;
				transition: 0.5s;
				transform: rotateZ(0deg);
			}
			&.collapsed {
				&:before {
					content: "\f105";
					font-family: FontAwesome;
					position: absolute;
					right: 10px;
					transform: rotateZ(90deg);
				}
			}
			&:hover,
			&:focus {
				text-decoration: none;
			}
		}
	}
	.card-body {
		& > div {
			max-height: 170px;
			overflow-y: auto;
		}
	}
}