.form-control{
	font-size: 0.85rem;
	border-radius: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	padding-left: 0;
	background-color: transparent;
	&:focus{
		box-shadow: none;
		border-color: @brand-primary;
		background-color: transparent;
	}
}

select.form-control:not([size]):not([multiple]) {
    height: calc(~"2.0rem + 1px");
}

.form-group {
	margin-bottom: 1.5rem;
}

fieldset{
	border: 1px solid darken(@gray, 15%);
	padding: 10px 20px;
	margin-bottom: 15px;
	legend{
		display: inline-block;
		width: auto;
		font-size: 1rem;
		color: darken(@body-text, 10%);
	}
}

.custom-checkbox, .custom-radio{
	.custom-control-input:checked~.custom-control-label::before{
		background-color: @brand-primary;
		border-color: @brand-primary;
	}
}
.custom-checkbox{
	.custom-control-label::before{
		border-radius: 0;
	}
}

.custom-control-label{
	&::before{
		top: .1rem;
		width: 1.2rem;
		height: 1.2rem;
		background-color: rgba(255, 255, 255, 0);
		border: 1px solid darken(@gray, 15%);
		transition: all 0.3s ease-out;
	}
	&::after{
		top: .1rem;
		width: 1.2rem;
		height: 1.2rem;
		background-size: 60% 60%;
		transition: all 0.3s ease-in;
	}
}

.custom-control-inline{
	align-items: center;
}

// required
label {
	&.required {
		&:after {
			content: "*";
			color: @danger;
			margin-left: 5px;
		}
	}
}

#invitations {
	.scrollable {
		display: block;
		max-height: 150px;
		overflow-y: auto;
		overflow-x: hidden;
	}
}

// select2
.select2-single {
	& + .select2-container {
		width: 100% !important;
		display: block;

		font-size: 0.85rem;
	    border-radius: 0;
	    border-top: 0;
	    border-left: 0;
	    border-right: 0;
	    padding-left: 0;
	    background-color: transparent;
	    .select2-selection--single {
	    	background-color: transparent;
	    	border-radius: 0;
	    	outline: 0;
	    	border: none;
	    	height: 33px;
	    	border-bottom: 1px solid rgb(206, 202, 218);
	    	&:focus {
	    		outline: 0;
	    	}
	    	.select2-selection__rendered {
	    		line-height: 33px;
	    	}
	    }
	}
}

.select2-container {
	.select2-search__field {
		position: relative;
		&:before {
			content: "Q";
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	.select2-search {
		position: relative;
		&:before {
			content: "\f002";
			font-family: 'FontAwesome';
			position: absolute;
			top: 9px;
			left: 9px;
			z-index: 1;
		}
		.select2-search__field {
			padding-left: 24px;
		}
	}
}