.form-control{
	font-size: 0.85rem;
}

fieldset{
	border: 1px solid darken(@gray, 15%);
	padding: 10px 20px;
	margin-bottom: 15px;
	legend{
		display: inline-block;
		width: auto;
		font-size: 1rem;
		color: darken(@body-text, 10%);
	}
}