/* single proposal */

// ul.statistics {
// 	li {
// 		padding: 5px 0;
// 		&:not(:last-of-type) {
// 			border-bottom: 1px solid @gray;
// 		}
// 		&:first-of-type {
// 			padding-top: 0;
// 		}
// 		&:last-of-type {
// 			padding-bottom: 0;
// 		}
// 	}
// }

// .tag {
// 	padding: .2rem .4rem;
//     font-size: 87.5%;
//     color: #fff;
//     border-radius: .2rem;
// }

.proposal-info-card {
	margin-top: -140px;
	@media (max-width: 767px) {
		margin-top: -50px;
	}
	.proposal-logo_holder {
		position: relative;
		width: 180px;
		height: 180px;
		@media (max-width: 767px) {
			display: block;
			margin: auto;
			margin-bottom: 15px;
		}
		.proposal-logo {
			max-width: 180px;
			height: auto;
		}
		.due-diligence {
			position: absolute;
			top: -20px;
			left: -20px;
			img {
				max-width: 80px;
				height: auto;
			}
		}
	}
	.proposal-info {
		color: #fff;
		@media (max-width: 767px) {
			color: inherit;
		}
	}
}


/* other rounds tab */
// .proposal_horizontal-card {
// 	.proposal-logo {
// 		width: 60px;
// 		height: 60px;
// 		img {
// 			max-width: 60px;
// 			height: auto;
// 		}
// 	}
// 	.proposal-details {
// 		border-right: 1px solid @gray;
// 		@media (max-width: 767px) {
// 			border-right: none;
// 		}
// 		.additional-info {
// 			[class*='col-'] {
// 				&:not(:last-of-type) {
// 					border-right: 1px solid @gray;
// 					@media (max-width: 767px) {
// 						border-right: none;
// 					}
// 				}
// 			}
// 		}
// 	}
// 	&:not(:last-of-type) {
// 		margin-bottom: 15px;
// 	}
// 	.media {
// 		@media (max-width: 767px) {
// 			flex-wrap: wrap;
// 		}
// 		.proposal-logo,
// 		.media-body {
// 			@media (max-width: 767px) {
// 				flex-basis: 100%;
// 			}
// 		}
// 	}
// }

.social-icons {
	li {
		a {
			width: 35px;
			height: 35px;
			border: 1px solid #fff;
			display: block;
			border-radius: 50%;
			line-height: 35px;
			text-align: CENTER;
			color: #fff;
			@media (max-width: 767px) {
				color: #333;
				border-color: #333;
			}
			&:hover {
				background-color: #5c5c5c;
				@media (max-width: 767px) {
					color: #fff;
				}
			}
		}
	}
}


