.table-striped-bg{
	thead{
		tr{
			background: url(../img/striped_diag.png);
		}
	}
}

.table{
	thead{
		th{
			font-size: 0.8rem;
			&:before, &:after{
				font-size: 1.2rem;
				bottom: 0.5em !important;
			}
		}
	}
	td, th{
		padding: .75rem 0.5rem;
	}
}


.table-no-padding{
	td{
		padding: 0;
	}
}


// Datatable fixes
.table-responsive{
	&>.dataTables_wrapper{
		&>.row{
			width: 100%;
		}
	}
}

.dataTables_length{
	label{
		justify-content: flex-start;
	}
}