.table-striped-bg{
	thead{
		tr{
			background: url(../img/striped_diag.png);
		}
	}
}
.table-solid-bg {
	thead {
		&:first-of-type {
			tr {
				background: @brand-primary;
				color: #fff;
			}
		}
		&:last-of-type {
			tr.filters {
				td {
					border-top: none;
					padding: 0.25rem 0.5rem;
					border-bottom: 1px solid @brand-primary;
					.form-control{
						border-color: transparent;
					}
				}
			}
		}
		tr{
			&.filters {
				background: #fff;
				@media(min-width: 768px){
					.clear-input{
						opacity: 0;
					}
					input{
						&:hover{
							&+.input-group-append{
								.clear-input{
									opacity: 1;
								}
							}
						}
					}
				}
			}
		}
	}
}

.table{
	thead{
		th{
			font-size: 0.8rem;
			&:before, &:after{
				font-size: 1.2rem;
				bottom: 0.5em !important;
			}
		}
	}
	td, th{
		padding: .75rem 0.5rem;
	}
	td{
		border-top: 0;
		border-bottom: 1px solid @gray;
	}
}


.table-no-padding{
	td{
		padding: 0;
	}
}


// Datatable fixes
.table-responsive{
	&>.dataTables_wrapper{
		&>.row{
			width: 100%;
		}
	}
}

.dataTables_length{
	label{
		justify-content: flex-start;
	}
}
div.dataTables_wrapper div.dataTables_info{
	white-space: normal;
}